# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
.Python

# --- Virtual Environment ---
venv/
env/
.venv/
.venvpy310/
ENV/
.env/

# --- Jupyter / VS Code ---
.ipynb_checkpoints
.vscode/
.idea/

# OS / IDE junk
.DS_Store
__pycache__/
*.pyc


# --- Streamlit ---
.streamlit/secrets.toml


# --- Build / Logs ---
build/
dist/
*.log
*.out
*.tmp

# --- Environment / Credentials ---
.env
*.env
*.key
*.json
